################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/sustAInableEducation-backend/wwwroot/images
/wwwroot/images
/sustAInableEducation-backend/log-*.txt
